NODE_ENV=development
PORT=3000

DATABASE_URL=postgresql://user:password@localhost:5432/gamingzone_catalog?schema=public

REDIS_HOST=localhost
REDIS_PORT=6379

ELASTICSEARCH_NODE=http://localhost:9200

GRPC_PORT=50051
